@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: linear-gradient(135deg, #009e5b, #0080a3);
  --tile-color: rgba(178, 206, 211, 0.5);
  --tile-b-radius: 10px;
  --gap: 1em;
  --big-padding: 1.5rem;


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  @media screen and (max-width: 600px) {

    --tile-b-radius: 20px;
  }

}

body {
  margin: 0;
  padding-bottom: var(--big-padding);
  min-width: 320px;
  min-height: 100vh;
  background-image: var(--bg-color);
}

body[data-theme="light"] {
  --tile-color: rgba(178, 206, 211, 0.5);
  --bg-color: linear-gradient(135deg, #009e5b, #0080a3);

}

body[data-theme="night"] {
  --tile-color: rgba(84, 96, 99, 0.5);
  --bg-color: linear-gradient(135deg, #004153, #a0aeb2);
}

input[type="button"] {
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ------------------------ */



#header {
  display: grid;
  padding: var(--big-padding);

  font-size: clamp(.6em, 3dvw, 25px);

  grid-template-columns: 50px minmax(50px, 5dvw) 1fr;
  gap: var(--gap);
  align-items: center;
  justify-content: center;


  :not(input) {
    opacity: .7;
  }

}

.nubi-logo {
  width: 100%;
  filter: grayscale(1) contrast(10) invert(1);
}

.title {
  display: none;

  @media screen and (min-width: 800px) {
    display: initial;
    font-size: 5rem;
    font-weight: 10;
    flex: 1 0 100%;
    padding-left: 5dvw;

    :first-child {
      font-weight: 700;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;


  @media screen and (min-width: 800px) {

    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;

  }
}

#menu {
  position: fixed;
  background-color: var(--tile-color);
  width: 100dvw;
  height: 100dvh;
  z-index: 99;


  backdrop-filter: blur(20px);


  transition: .5s translate;
  translate: 0 0;

  .locations {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 2.5rem;

  }
  input{
    transition: .2s;
  }
  input:hover{
    translate: 1rem;
  }
  

  li.choosen {
    font-weight: bold;
  }

  .menu-secion-title {
    display: block;
    margin: 1rem 0;
    font-size: 3rem;
    text-align: center;
    filter: opacity(.7);

  }

  hr {
    border-width: 1px;
    filter: opacity(.5);
  }

  .close-button {
    position: fixed;
    width: 100dvw;
    bottom: var(--big-padding);
    font-size: 5em;
    filter: opacity(.5);
  }
  

  @media screen and (min-width: 800px) {
    min-width: 400px;
    width: 20dvw;

    .menu-secion-title {
      text-align: left;
    }

    .locations {
      align-items: start;
    }

    .menu-distancer {
      margin-left: calc(2 * var(--big-padding) + 50px);
    }

    .close-button {
      display: none;
    }
  }

}

#menu[is-hidden="true"] {
  translate: 0 -100%;

  @media screen and (min-width: 800px) {
    translate: -100% 0;
  }
}

.menu-button {
  font-size: 40px;
  transition: transform .2s;
  @media screen and (min-width: 800px) {
    z-index: 100;
  }
}
.menu-button:hover{
  transform: scaleX(1.5) scaleY(.9);

}



.glass-tile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  min-width: min-content;
  min-height: min-content;
  width: clamp(300px, 90dvw, 450px);

  background-color: var(--tile-color);
  border-radius: var(--tile-b-radius);
  padding: var(--big-padding);


  backdrop-filter: blur(20px);

}

#CurrentWeather {
  font-size: 1.3rem;

  >* {
    text-align: center;
  }
  
  .city {
    font-weight: 600;
  }

  .weather-icon {
    width: 5em;
  }

  .temp {
    font-size: 3em;
    font-weight: bold;
  }

  @media screen and (min-width: 800px) {
    flex: 0 0 calc(30dvw - var(--gap));
    flex-direction: row;
    flex-wrap: wrap;

    >* {
      flex: 1 1 50%;
    }

  }

}

.update-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

#HourWeather {
  padding: var(--big-padding) 0 0 0;

  min-height: 200px;

  overflow: hidden;
  max-width: 90dvw;

  @media screen and (min-width: 800px) {
    flex: 0 0 calc(60dvw);
  }
}

#ForecastWeather {
  flex: 0 0 90dvw;

  @media screen and (min-width: 800px) {
    flex-direction: row;
    gap: 3em;
  }

  color: g;
}

.forecast-day {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr .7fr;
  align-items: center;

  font-weight: bold;

  .temp {
    text-align: right;
  }

  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0em;
  }
}





.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined.thin {
  font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 12
}

.material-symbols-outlined.no-fill {
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 12
}
